<h1>Users</h1>
<hr/>
<div class="col-md-4">
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
        <small><em>member since <%= user.created_at.to_date %></em></small>
      </li>
    <% end %>
  </ul>
</div>