<!-- don't think this is in use anymore -->

<!--
<%# form_for [tag] do |f| %>  
  <% #if tag.errors.any? %>
    <div class="alert alert-danger">
      <h4>There 
        <%#tag.errors.count == 1 ? 'is' : 'are' %>
        <%# pluralize(tag.errors.count, "error") %>.
      </h4>
      <ul>
        <%# tag.errors.full_messages.each do |msg| %>
          <li><%# msg %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>
    <%# f.label "Enter a tag" %>
    <%# f.text_field :tag, class: 'form-control', placeholder: "Enter a tag" %>
    
  <div class="form-group">
    <%# f.submit "Save", class: 'btn btn-success' %>
  </div>
<%# end %>-->