<h1>Tags#index</h1>
<hr/>
<div class="col-md-8">
  <% @tags.each do |tag| %>
    <% if tag.wikis.count > 0 %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to tag.tag, tag, class: "uline" %>
          </h4>
          <small>
            <em>Total Wikicount: <%= tag.wikis.count %></em><br/>
          </small>
          <p>
            <ul>
              <% tag.wikis.each do |wiki| %>
                <% if wiki.is_wiki_viewable?(current_user) %>
                  <li>
                    <%= link_to wiki.title, wiki %>
                    <small>Private?  <%= wiki.private %></small>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
    <% end %>
    <hr/>
  <% end %>
</div>
