<h1>All Tags</h1>
<hr/>  
<div class="col-md-8">
  <% @tags.each do |t| %>
    <% t[1].each do |tag| %>
      <%= link_to tag.tag, tag, class: 'uline' %>
      <br/>   
    <% end %>
    <hr/> 
  <% end %>
</div>
