<%= link_to 'Back to All Tags', tags_path, class: 'btn btn-primary' %><br/>
<h1><%= @tag.tag %></h1>
<hr/>
<div class="col-md-4">
  <em>Associated Wikis:</em>
  <br/>
  <br/>
  <ul>
    <% @wikis.each do |wiki| %>
      <li><%= link_to (markdown wiki.title), wiki %></li>
    <% end %>
  </ul>
</div>