
<div class="js-new-user js-hide">
  <%# select_tag :users, options_from_collection_for_select(User.all, 'id', 'email', @wiki.users.map{ |j| j.id }), :multiple => false %>
  
   <%#= f.fields_for :users do |users_form| %>
      <%#= users_form.label "Add a Collaborator" %>
      <%#= users_form.text_field :name %>
    <%# end %>

   <%# puts "!!!!!!!! #{@users.to_yaml}" %>
  <%# f.label "Add a user" %>
  <%# f.text_field :users, class: 'form-control', placeholder: "Enter user id" %>  <!-- value: nil -->

  <br/><br/>
  <small>I should be hidden</small>
  <br/>

<% @wiki.users.each do |w| %> 
  <%= w.name %><br/><br/>
  <% if policy(@wiki).update? %>
      <em>HELLOWORLD!!!!</em><br/>
  <% end %>
<% end %>  <br/>
Count:<%= @wiki.users.count %>
<br/><br/>
</div>      
<br/>
<br/>
<!--<a href="#" id="alert" data-message="Hello world from data-msg!">Click Here Alert</a><br/>
<a href="#" id="clickable">Clickable</a><br/>
<a href="#" id="slideme">Display current users Slideme Class</a><br/>-->
