<div class="col-md-8">
  <h1>Wikis#Index</h1>
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
        <p>
          <%= wiki.description %>
        </p>
        <small>
          <% wiki.tags.each do |x| %>
            <%= link_to x.tag, x %>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-4">
  <p>sidebar</p>
  <small>
    <% @tags.each do |x| %>
      <%= link_to x.tag, x %><br/>
    <% end %>
  </small>
</div>
