<h1>Create a New Wiki</h1>
<hr/>
<%= render partial: 'new_form', wiki: @wiki %>
<div class="col-md-4">
  <h4>Guidelines:</h4>
  <ul>
    <li>Lorem ipsum.</li>
    <li>Lorem ipsum.</li>
    <li>Lorem ipsum.</li>
  </ul>
</div>
