<h1>Wikis#new</h1>
<div class="row">
  <div class="col-md-4">
    <h1>New Wiki</h1>
    <p>Guidelines:</p>
    <ul>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum.</li>
      <li>Lorem ipsum.</li>
    </ul>
  </div>
   <%= render partial: 'form', wiki: @wiki %>
</div>
